// Portfolio styles

// Colors
// Text
$white-text: #fff;
$black-text: #000;
$primary-text: #e0a80d;
$secondary-text: #7d8792;

$sliver-text: #bac8d3;
$muted-text: #888888;

// Background
$primary-background: #212222;
$section-background: #2f3030;
$heading-background: #2d2e2e;

// Font Sizes
$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 24px;

// Spacing
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;

// Layout
$container-max-width: 80%;

// Educational styles

// Texts
$educational-primary-text: #1eb2a6;

// Background
$educational-primary-background: #f8f8f8;
