@use "../../../styles/global" as *;

.contact {
  margin: 20px 0;

  &__content {
    @include flex($justify: space-between);

    &__left {
      width: 65%;
      padding: 20px;

      input,
      textarea,
      button {
        width: 100%;
        padding: 20px;
        border: none;
        outline: none;
        margin: 10px 0;
        border-radius: 5px;

        &:first-child {
          margin-right: 10px;
        }
      }

      button {
        background-color: $primary-text;
      }
    }

    &__right {
      width: 35%;
      padding: 20px;

      &_item {
        margin-bottom: 2rem;
      }

      a {
        color: #bac8d3;
        font-size: 15px;

        &:hover {
          color: $primary-text;
        }
      }

      .contact__social__icon {
        font-size: 20px;
        padding-top: 10px;
      }
    }
  }
}

// Responsive

@media (max-width: 768px) {
  .contact__content {
    @include flex($justify: space-between, $direction: column);
  }

  .contact__content__left,
  .contact__content__right {
    width: 100%;
    padding: 20px 0;
  }
}
