@use "../../styles/global" as *;

.navbar {
  height: 10vh;
  min-height: 60px;
  line-height: 10vh;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: $heading-background;
  //   transition: all 0.3s ease-in-out;

  header {
    height: 100%;
    @include flex(space-between, center);

    .logo a {
      @include flex(center, center);
      img {
        opacity: 1;
      }
    }

    .burgerBtn {
      font-size: $font-size-large;
      display: none;
      background: none;
      border: none;
      cursor: pointer;
      color: $white-text;
    }

    .navLinks {
      @include flex();
      margin-left: auto;

      .navLink {
        margin-left: 40px;
        span {
          color: $secondary-text;
          text-decoration: none;
          transition: 0.5s;
          cursor: pointer;
        }

        span:hover {
          color: $primary-text;
        }

        .navTemplates {
          @include flex($direction: column);

          position: absolute;
          top: calc(max(10vh, 60px));
          background-color: $heading-background;
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;

          .navTemplate {
            line-height: 4;

            cursor: pointer;

            a span {
              padding: 0 3rem 1rem 3rem;
            }
          }
        }

        i {
          color: $primary-text;
          cursor: pointer;
          padding-left: 0.3rem;
        }
      }
    }
  }
}

// Responsive

@media (max-width: 576px) {
  .container {
    width: 95%;
  }

  .navbar {
    header {
      .navLinks {
        display: none;
        &.sideMenu {
          @include flex($direction: column);
          position: absolute;
          top: calc(max(10vh, 60px));
          left: 0;
          width: 100%;
          height: 90vh;
          background-color: $heading-background;
        }

        .navLink {
          margin-left: 20px;
          a {
            color: $white-text;
          }
          span {
            color: $white-text;
          }
          .navTemplates {
            padding-left: 1rem;
            position: relative;
            top: 0;
          }
        }
      }

      .burgerBtn {
        display: block;
      }
    }
  }
}
