@use "../../../../styles/global" as *;

.cooking-loader {
  margin-top: 48px;
  margin-bottom: 48px;

  &__container {
    @include flex($align: center, $justify: center);

    img {
      width: 70px;
    }
  }
}
