@use "../../../../../styles/global" as *;

.fitness-exercise-video {
  @include flex($direction: column);
  gap: 24px;
  width: 387px;

  text-decoration: none;
}

// Responsive
@media screen and (max-width: 1200px) {
  .fitness-exercise-video {
    width: 250px;
  }
}
